# Graphics & GUI
imgui-bundle>=1.2.0
pysdl3>=0.9.8b2
pyopengl >=3.1.5
# Scientific Computing
numpy>=1.24.0
# Storage & File Management
xxhash >=3.4.0
#utils
psutil > 5.8.0
# Install and deploy
pyinstaller >=4.0
